@mixin ximage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// media query mixins
@mixin smallPhone {
  @media (max-width: 550px) {
    @content;
  }
}

@mixin iphoneSE {
  @media (max-width: 386px) {
    @content;
  }
}

@mixin allPhones {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin largePhones {
  // 550px <= width < 900px
  @media (min-width: 550px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (max-width: 1080px) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (max-width: 810) {
    @content;
  }
}

@mixin for-desktop-down {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

// hide scrollbar
@mixin hideScrollbars {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;

  &::-webkit-scrollbar {
    display: none !important;
  }
}
