input[type="number"] {
  width: 40px;
  padding: 4px 5px;
  border-radius: 3px;
}

input[type="search"] {
  font-family: "SF Compact Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 2.25rem !important;
}
