/* Total width */
.designatedOS ::-webkit-scrollbar {
    background-color: $body;
    width: 14px;
}

/* Background of the scrollbar except button or resizer */
.designatedOS ::-webkit-scrollbar-track {
    background-color: $body;
}

/* Scrollbar itself */
.designatedOS ::-webkit-scrollbar-thumb {
    background-color: $gray2;
    border-radius: 16px;
    border: 4px solid $body;
}

.designatedOS ::-webkit-scrollbar-thumb:hover {
    background-color: $gray1;
}

/* Custom scrollbar version for dropdowns etc */
/* Context dropdown menus */
.designatedOS .context-item .children > .wrapper::-webkit-scrollbar {
    width: 6px !important;
    background-color: transparent !important;
}

.designatedOS .context-item .children > .wrapper::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.designatedOS .context-item .children > .wrapper::-webkit-scrollbar-thumb {
    border: none !important;
}

.designatedOS .context-item .children > .wrapper::-webkit-scrollbar-thumb:hover {
    border: none !important;
}

/* Scrollable divs */
.designatedOS .scrollable::-webkit-scrollbar {
    width: 6px !important;
    background-color: transparent !important;
}

.designatedOS .scrollable::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.designatedOS .scrollable::-webkit-scrollbar-thumb {
    border: none !important;
}

.designatedOS .scrollable::-webkit-scrollbar-thumb:hover {
    border: none !important;
}

/* Settings modal */
.designatedOS .settingssidebar::-webkit-scrollbar-track {
    background-color: $gray;
}

.designatedOS .settingssidebar::-webkit-scrollbar-thumb {
    border-color: $gray;
}

.designatedOS .settingsmodalcontent::-webkit-scrollbar-track {
    background-color: $black;
}

.designatedOS .settingsmodalcontent::-webkit-scrollbar-thumb {
    border-color: $black;
}
